@use 'reset';
@use 'vars';
@use 'global';
@use 'fonts';

body {
  @extend %ptmono-400;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: vars.$color-accent-black;
  letter-spacing: 5.5;
}

.header {
  padding: 22px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 46px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 22px;
  }
}

.header__lang {
  &-link {
    color: #ABBC98;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: -6px;
      border: 1px solid #ABBC98;
      border-radius: 50%;
      width: 34px;
      height: 34px;
    }
  }
}

.footer {
  &__inner {
    background-color: vars.$color-accent-green;
    padding-top: 40px;
    position: relative;
    &::before {
        content: '';
        background-image: url(../images/flowers.svg);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 478px;
        width: 416px; }

    &::after {
      content: '';
      background-image: url(../images/flowers.svg);
      position: absolute;
      right: 0;
      bottom: 0;
      height: 478px;
      width: 416px;
      transform: scaleX(-1);
    }
  }

  

  &__social {}

  &__social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin-bottom: 70px;
  }

  &__social-item {}

  &__social-link {}

  &__info {
    display: flex;
    gap: 75px;
    justify-content: space-around;
  }

  &__logo {}

  &__menu {}

  &__menu-list {}

  &__menu-item {
    margin-bottom: 12px;
  }

  &__menu-link {}

  &__address {}

  &__address-item {}

  &__address-link {}

  &__bottom {
    background-color: #E8E6E9;
    padding: 2px 0;
  }
  &__bottom-copy{
    text-align: center;
  }
}