@use 'reset';
@use 'vars';
@use 'global';
@use 'fonts';

body {
  @extend %ptmono-400;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: vars.$color-accent-black;
  letter-spacing: 5.5;
}

.header {
  padding: 22px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 46px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 22px;
  }
}

.header__lang {
  &-link {
    color: #ABBC98;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: -6px;
      border: 1px solid #ABBC98;
      border-radius: 50%;
      width: 34px;
      height: 34px;
    }
  }
}