<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Permaculture</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo" href="#">
            <img src="images/src/logo.svg" alt="logo">
          </a>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">
                  крамниця
                </a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">
                  навчання
                </a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">
                  лекції
                </a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">
                  вебінари
                </a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">
                  події
                </a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">
                  бібліотека
                </a>
              </li>
            </ul>
          </nav>
          <ul class="header__lang">
            <li class="header__lang-item">
              <a class="header__lang-link" href="#">
                EN
              </a>
            </li>
            <!-- <li class="header__lang-item">
              <a class="header__lang-link" href="#">
                UA
              </a>
            </li> -->
          </ul>
          <ul class="menu__icons">
            <li class="menu__icons-item">
              <a class="menu__icons-link" href="#">
                <svg width="34" height="34">
                  <use xlink:href=" images/sprite.svg#menu-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="menu__icons-item">
              <a class="menu__icons-link" href="#">
                <svg width="35" height="34">
                  <use xlink:href="images/sprite.svg#menu-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="menu__icons-item">
              <a class="menu__icons-link" href="#">
                <svg width="35" height="34">
                  <use xlink:href="images/sprite.svg#menu-icon-wishlist"></use>
                </svg>
              </a>
            </li>
            <li class="menu__icons-item">
              <a class="menu__icons-link" href="#">
                <svg width="34" height="34">
                  <use xlink:href="images/sprite.svg#menu-icon-account"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>